@import "tailwindcss";

@theme {
  --color-main: #60d1ff;
  --color-main-hover: #38bdf8;
  --color-accent: #1e3a8a;
  --color-base: #f8fafc;
  --color-text-primary: #1e293b;
  --color-text-secondary: #475569;
  
  --font-sans: var(--font-noto-sans-jp), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #1e293b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
